body{
    margin: 0;
    background: linear-gradient(to right, rgb(84, 5, 211), rgb(192, 164, 245));
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}


.container{
    background: #dbb0e6;
    color: #030303;
    border-radius: 10px;
    box-shadow: 0 10px 20px  rgb(7, 7, 7);
    text-align: center;
    padding: 10px;
    width: 450px;
    margin: 5px;
}

.btn{
    background-color: blueviolet;
    color: black;
    padding: 10px 30px;
    font-size: 16px;
    margin-bottom: 30px;
    border-radius: 200px;
    cursor: pointer;
}

.btn:disabled{
    background-color: #c18be6;
    cursor:not-allowed;
}

.anime-img{
    height: 300px;
    width: 300px;
    border-radius: 60%;
    border: 3px solid blueviolet;

}

.anime-name{
    margin: 20px;
    background-color: blueviolet;
    color: rgb(8, 8, 8);
    padding: 20px;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 606;
}

.anime-container{
    display: none;
}

